<h2>Log in</h2>

<form class="form" id="log-form" method="POST" action="/login"> 
  
    <label for="email">E-mail</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <br>
    <input type="submit" value="Log in" required>
  
</form>

<div class="to-signup">
<p>No account yet?</p>
<button><a href="/signup">Sign up</a></button>
</div>