<h2>User registration form</h2>

<form class="form" id="reg-form" method="POST" action="/signup">
  
    <label for="lastname">Last name</label>
    <input type="text" id="lastname" name="lastname" required>
    <br>

    <label for="firstname">First name</label>
    <input type="text" id="firstname" name="firstname" required>
    <br>

    <label for="reg-email">E-mail</label>
    <input type="email" id="email" name="email" required>
    <br>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <br>

    <label for="confirmPassword">Confirm password</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
    <br>

    <input type="submit" value="Create account" required>
  
    </form>